.aqua-menubar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  color: var(--aqua-color-black);
  background-color: var(--aqua-color-white);
  font-family: var(--aqua-font-family);
  font-size: var(--aqua-font-size);
  font-weight: 500;
  box-shadow: var(--aqua-box-shadow-2);
  line-height: var(--aqua-line-height);
}

.aqua-menubar__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background: var(--aqua-bg-stripes);
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.aqua-menubar__item {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  cursor: default;
  text-shadow: var(--aqua-text-shadow);
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.aqua-menubar__item:hover {
  background-color: var(--aqua-color-blue);
  color: #ffffff;
}

.aqua-menubar__item--programname {
  font-weight: 600;
}

.aqua-menubar__item--clock {
  margin-left: auto;
}

.aqua-menubar__item--clock:hover {
  background-color: transparent;
  color: inherit;
}
