- const formattedTime = (new Date()).toLocaleString('en-US', { weekday: 'short', hour: 'numeric', minute: '2-digit', hour12: true});

header(id="menubar", class="aqua-menubar")
  div(class="aqua-menubar__row")
    .aqua-menubar__item#aqua-menubar-logo 
      span ♥︎
    .aqua-menubar__item.aqua-menubar__item--programname 
      span Aqua UI CSS
    .aqua-menubar__item 
      span File
    .aqua-menubar__item 
      span Edit
    .aqua-menubar__item 
      span Info
    .aqua-menubar__item.aqua-menubar__item--clock
      span= formattedTime
