include ../button/button.pug 

//- Horizontal rectangular button with rounded edges.
mixin button-circular(label, color = "white")
  +button(label)(class="aqua-btn-circular aqua-btn-circular--" + color)&attributes(attributes)
    if block 
      span.aqua-btn__label
        block