include ../section.pug 

+section("Alert window (no window buttons)")(id="example-windows-1", class="docs__example")
  include ../../ui/dialog/dialog.pug

+section("Window (with buttons)")(id="example-windows-2", class="docs__example")
  include ../../ui/window.pug