include ../section.pug 

+section("")(id="example-windows-1", class="docs__example")
  include ../../ui/dialog/dialog.pug

+section("")(id="example-windows-2", class="docs__example")
  include ../../ui/window.pug