mixin section(title)
  div(class="docs__section")&attributes(attributes)
    .docs__section-wrap 
      .docs__section-header 
        h2.docs__section-title= title 
      .docs__section-body
        .docs__section-row
          if block 
            block 
          else 
            i No section content
      