.aqua-window {
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: #b9b9b9;
  position: relative;
  font-size: var(--aqua-font-size);
  font-family: var(--aqua-font-family);
  color: var(--aqua-color-black);
  max-width: 70ch;
  min-width: 290px;
  opacity: 1;
  overflow: hidden;
  line-height: var(--aqua-line-height);
  box-shadow: var(--aqua-box-shadow-1);
}

.aqua-window__title {
  background-color: var(--aqua-color-white);
  border-bottom: 2px solid var(--aqua-color-gray-2);
  opacity: 0.5;
}

.aqua-window__title-inner {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  min-height: 1.28em;
  background: var(--aqua-bg-stripes);
  text-shadow: var(--aqua-text-shadow);
}

.aqua-window__title-txt {
  font-size: inherit;
  text-align: center;
  flex-basis: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  flex-grow: 1;
}

.aqua-window__buttons {
  display: flex;
  flex-basis: 25%;
  flex-grow: 0;
  gap: 0.8em;
}

/** 
A placeholder element used by flex layout. 
Possibly replaced by button 
*/
.aqua-window__title-left {
  flex-basis: 25%;
  display: flex;
  justify-content: end;
}

.aqua-window__body {
  position: relative;
  background-color: var(--aqua-color-white);
}

.aqua-window__navbar {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: hidden;
  background-color: var(--aqua-color-gray-1);
  background: var(--aqua-bg-stripes);
  border-bottom: inherit;
  display: flex;
  gap: 0.3em;
  border-bottom: 2px solid var(--aqua-color-gray-2);
}

.aqua-window__navbar-btn {
  appearance: none;
  width: 4em;
  height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border: none;
  font-size: inherit;
  color: inherit;
}

.aqua-window__navbar-btn:active {
  opacity: 0.7;
}

.aqua-window__navbar-btn:hover {
  background-color: var(--aqua-color-gray-2);
}

.aqua-window:focus,
.aqua-window:focus-within {
  z-index: 2;
  box-shadow: var(--aqua-box-shadow-2);
}

.aqua-window:focus .aqua-window__title,
.aqua-window:focus-within .aqua-window__title {
  opacity: 1;
}
