:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

body {
  background-color: #6398c8;
  background-image: url("/aqua-ui-css/img/mac_osx_tiger_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #232323;
  padding: 0;
  margin: 0;
  background-color: #6aa5cd;
}
a {
  color: inherit;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
p {
  max-width: 66ch;
}
.docs__section {
  padding-top: 2em;
  padding-bottom: 2em;
}
.docs__section-row {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.docs__section-wrap {
  padding-left: 1em;
  padding-right: 1em;
}
.docs__section-header {
  padding-bottom: 1.6em;
}
.docs__section-title {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}
.docs__example {
  padding-bottom: 3em;
}
.docs-header {
  font-size: 1.1em;
  color: #fbfbfb;
}
.docs-header__logo {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2em;
}
.docs-footer {
  background-color: #6aa5cd;
}
.docs-footer__row {
  color: #ffffff;
  font-size: 0.8em;
}
/** CSS input file */

/** Library variables here */

:root {
  --aqua-color-blue: #2874da;
  --aqua-color-graphite: #333333;
  --aqua-color-white: #ffffff;
  --aqua-color-gray-1: #f4f4f4;
  --aqua-color-gray-2: #dcdcdc;
  --aqua-color-gray-3: #aaaaaa;
  --aqua-color-black: #000000;
  --aqua-color-green: #35cb00;
  --aqua-color-yellow: #ffae00;
  --aqua-color-red: #d50b00;
  --aqua-font-family: "Lucida Grande", sans-serif;
  --aqua-font-size: 14px;
  --aqua-line-height: 1.3;
  --aqua-shadow-color: rgba(0, 0, 0, 0.35);
  /** e.g. Window inactive state */
  --aqua-box-shadow-1: 0 0.3em 0.3em rgba(0, 0, 0, 0.25);
  /** e.g. Window active state */
  --aqua-box-shadow-2: 0 0.6em 1em rgba(0, 0, 0, 0.47);
  --aqua-text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  --aqua-bg-stripes: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 10px,
    #dcdcdc 14px
  );
}

.icon {
  font-size: 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.icon--md {
  font-size: 2em;
}

/**
Text inside button */

.aqua-btn__label {
  position: relative;
  display: flex;
  z-index: 1;
  opacity: 0.8;
  text-shadow: 0px 3px 3px var(--aqua-color-gray-3);
  font-weight: 600;
}

.aqua-btn__label svg {
  width: 1em;
  height: 1em;
  display: block;
}

[data-aqua-elem="button"]:disabled {
  opacity: 0.5;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.7);
}

[data-aqua-elem="button"]:active {
  opacity: 0.7;
}

.aqua-window {
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: #b9b9b9;
  position: relative;
  font-size: var(--aqua-font-size);
  font-family: var(--aqua-font-family);
  width: 70ch;
  min-width: 290px;
  opacity: 1;
  overflow: hidden;
  z-index: 1;
  line-height: var(--aqua-line-height);
  box-shadow: var(--aqua-box-shadow-1);
}

.aqua-window__title {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: inherit;
  border-bottom-width: 2px;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  background-color: var(--aqua-color-gray-1);
  background: var(--aqua-bg-stripes);
  opacity: 0.5;
  min-height: 1.28em;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}

.aqua-window:focus,
.aqua-window:focus-within {
  z-index: 2;
  box-shadow: var(--aqua-box-shadow-2);
}

.aqua-window:focus .aqua-window__title,
.aqua-window:focus-within .aqua-window__title {
  opacity: 1;
}

.aqua-window:focus .aqua-window__title,
.aqua-window:focus-within .aqua-window__title {
  opacity: 1;
}

.aqua-window__title-txt {
  font-size: inherit;
  text-align: center;
  flex-basis: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  flex-grow: 1;
}

.aqua-window__buttons {
  display: flex;
  flex-basis: 25%;
  flex-grow: 0;
  gap: 0.8em;
}

/** A html element for flex layout. Possibly replaced by button */

.aqua-window__title-left {
  flex-basis: 25%;
  display: flex;
  justify-content: end;
}

.aqua-window__body {
  position: relative;
  background-color: var(--aqua-color-white);
}

.aqua-window__navbar {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: hidden;
  background-color: var(--aqua-color-gray-1);
  background: var(--aqua-bg-stripes);
  border-bottom: inherit;
  display: flex;
  gap: 0.3em;
  border-bottom: 2px solid var(--aqua-color-gray-2);
}

.aqua-window__navbar-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 4em;
  height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border: none;
  font-size: inherit;
}

.aqua-window__navbar-btn:active {
  opacity: 0.7;
}

.aqua-window__navbar-btn:hover {
  background-color: var(--aqua-color-gray-2);
}

/** Horizontal rectangular button with rounded edges. */

.aqua-btn-rounded {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--aqua-font-family);
  font-size: var(--aqua-font-size);
  color: var(--aqua-color-black);
  background: var(--aqua-color-gray-2);
  cursor: pointer;
  box-sizing: border-box;
  border-color: var(--aqua-color-gray-2);
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding-left: 1.4em;
  padding-right: 1.4em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  min-width: 6em;
  border-top-left-radius: 1em 1em;
  border-top-right-radius: 1em 1em;
  border-bottom-left-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}

/** Gel effect */

.aqua-btn-rounded:before,
.aqua-btn-rounded:after {
  content: " ";
  position: absolute;
  left: 7%;
  right: 7%;
  width: 86%;
}

.aqua-btn-rounded:before {
  top: 1px;
  height: 0.6em;
  background: linear-gradient(
    to top,
    transparent,
    rgba(255, 255, 255, 0.8) 65%
  );
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

.aqua-btn-rounded:after {
  bottom: 1px;
  height: 0.8em;
  background: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}

.aqua-btn-rounded--white {
  background: radial-gradient(
    var(--aqua-color-gray-1) 40%,
    var(--aqua-color-gray-3)
  );
}

.aqua-btn-rounded--blue {
  background: radial-gradient(
    color-mix(in srgb, var(--aqua-color-blue) 40%, #ffffff) 40%,
    color-mix(in srgb, var(--aqua-color-blue) 80%, black)
  );
}

.aqua-btn-rounded--red {
  background: radial-gradient(
    color-mix(in srgb, var(--aqua-color-red) 40%, #ffffff) 40%,
    color-mix(in srgb, var(--aqua-color-red) 80%, black)
  );
}

.aqua-btn-rounded--green {
  background: radial-gradient(
    color-mix(in srgb, var(--aqua-color-green) 40%, #ffffff) 40%,
    color-mix(in srgb, var(--aqua-color-green) 80%, black)
  );
}

.aqua-btn-rounded--yellow {
  background: radial-gradient(
    color-mix(in srgb, var(--aqua-color-yellow) 40%, #ffffff) 40%,
    color-mix(in srgb, var(--aqua-color-yellow) 80%, black)
  );
}

.aqua-btn-rounded:disabled,
.aqua-btn-rounded[disabled] {
  opacity: 0.7;
  pointer-events: none;
}

/** Horizontal rectangular button with rounded edges. */

.aqua-btn-circular {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--aqua-font-family);
  font-size: var(--aqua-font-size);
  color: var(--aqua-color-black);
  background: var(--aqua-color-gray-2);
  cursor: pointer;
  box-sizing: border-box;
  border-color: var(--aqua-color-gray-3);
  border-style: solid;
  border-width: 1px;
  border-radius: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  width: 1em;
  height: 1em;
  padding: 0.7em;
}

/** Gel effect */

.aqua-btn-circular:before,
.aqua-btn-circular:after {
  content: " ";
  position: absolute;
}

.aqua-btn-circular:before {
  left: 25%;
  right: 25%;
  width: 50%;
  top: 1px;
  height: 30%;
  background: linear-gradient(
    to top,
    transparent,
    rgba(255, 255, 255, 0.8) 65%
  );
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

.aqua-btn-circular:after {
  left: 18%;
  right: 18%;
  width: 64%;
  bottom: 2px;
  height: 40%;
  background: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}

.aqua-btn-circular--lg {
  font-size: 20px;
}

.aqua-btn-circular--white {
  background: radial-gradient(
    var(--aqua-color-gray-1) 40%,
    var(--aqua-color-gray-3)
  );
}

.aqua-btn-circular--blue {
  background: radial-gradient(
    color-mix(in srgb, var(--aqua-color-blue) 40%, #ffffff) 40%,
    color-mix(in srgb, var(--aqua-color-blue) 80%, black)
  );
}

.aqua-btn-circular--red {
  background: radial-gradient(
    color-mix(in srgb, var(--aqua-color-red) 40%, #ffffff) 40%,
    color-mix(in srgb, var(--aqua-color-red) 80%, black)
  );
}

.aqua-btn-circular--green {
  background: radial-gradient(
    color-mix(in srgb, var(--aqua-color-green) 40%, #ffffff) 40%,
    color-mix(in srgb, var(--aqua-color-green) 80%, black)
  );
}

.aqua-btn-circular--yellow {
  background: radial-gradient(
    color-mix(in srgb, var(--aqua-color-yellow) 40%, #ffffff) 40%,
    color-mix(in srgb, var(--aqua-color-yellow) 80%, black)
  );
}

.aqua-btn-circular:disabled,
.aqua-btn-circular[disabled] {
  pointer-events: none;
  background: none;
}

.aqua-layout--stripes {
  background: var(--aqua-bg-stripes);
}

.aqua-layout__row {
  display: flex;
  gap: 1em;
  justify-content: start;
}

.aqua-layout__row--align-end {
  justify-content: end;
}

.aqua-layout__row--align-center {
  justify-content: center;
}

.aqua-layout__wrapper {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.aqua-layout__col {
  flex-basis: 100%;
  flex-grow: 0;
}

.aqua-layout__col--1 {
  flex-basis: calc(100% / 12 * 1);
}

.aqua-layout__col--2 {
  flex-basis: calc(100% / 12 * 2);
}

.aqua-layout__col--3 {
  flex-basis: calc(100% / 12 * 3);
}

.aqua-layout__col--4 {
  flex-basis: calc(100% / 12 * 4);
}

.aqua-layout__col--5 {
  flex-basis: calc(100% / 12 * 5);
}

.aqua-layout__col--6 {
  flex-basis: calc(100% / 12 * 6);
}

.aqua-layout__col--7 {
  flex-basis: calc(100% / 12 * 7);
}

.aqua-layout__col--8 {
  flex-basis: calc(100% / 12 * 8);
}

.aqua-layout__col--9 {
  flex-basis: calc(100% / 12 * 9);
}

.aqua-layout__col--10 {
  flex-basis: calc(100% / 12 * 10);
}

.aqua-layout__col--11 {
  flex-basis: calc(100% / 12 * 11);
}

.aqua-layout__col--12 {
  flex-basis: calc(100% / 12 * 12);
}

/*
@media (max-width: 768px) {
  .aqua-layout__col {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .aqua-layout__col {
    flex-basis: 100%;
  }
}

*/

.aqua-dialog__body {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  max-width: 38em;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.aqua-dialog__icon {
  margin: 0;
  min-width: 130px;
}

.aqua-dialog__icon-img {
  padding: 0 1em;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: block;
}

.aqua-dialog__title {
  margin: 0;
  font-weight: 600;
}

.aqua-menubar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-family: var(--aqua-font-family);
  color: var(--aqua-color-black);
  width: 100%;
  box-sizing: border-box;
  font-size: var(--aqua-font-size);
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  min-height: 1.28em;
  box-shadow: var(--aqua-box-shadow-2);
  z-index: 999;
  background-color: var(--aqua-color-white);
}

.aqua-menubar__row {
  display: flex;
  flex-wrap: nowrap;
  background: var(--aqua-bg-stripes);
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.aqua-menubar__nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.aqua-menubar__nav-item {
  position: relative;
}

.aqua-menubar__btn {
  cursor: default;
  padding-left: 0.6em;
  padding-right: 0.6em;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-shadow: var(--aqua-text-shadow);
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  line-height: var(--aqua-line-height);
  overflow: hidden;
}

.aqua-menubar__btn:focus {
  outline: none;
}

.aqua-menubar__btn:active,
.aqua-menubar__btn:hover,
.aqua-menubar__btn:focus {
  background-color: var(--aqua-color-blue);
  color: var(--aqua-color-white);
}

.aqua-menubar__btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.aqua-menubar__btn--program-name {
  font-weight: 600;
}

.aqua-menubar__datetime {
  margin-left: auto;
}

.aqua-menubar-submenu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  min-width: 14em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: var(--aqua-box-shadow-2);
  border-top: 1px solid var(--aqua-color-gray-3);
  background: var(--aqua-bg-stripes);
  padding-bottom: 0.2em;
  display: none;
}

.aqua-menubar-submenu__item--sep {
  margin-bottom: 0.8em;
}

.aqua-menubar-submenu__btn {
  cursor: default;
  padding-left: 1.5em;
  padding-right: 0.75em;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-shadow: var(--aqua-text-shadow);
  line-height: var(--aqua-line-height);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.aqua-menubar-submenu__btn:active,
.aqua-menubar-submenu__btn:focus,
.aqua-menubar-submenu__btn:hover {
  background-color: var(--aqua-color-blue);
  color: var(--aqua-color-white);
  outline: none;
}

.aqua-menubar__nav-item:focus-within > .aqua-menubar-submenu,
.aqua-menubar__nav-item:hover > .aqua-menubar-submenu {
  display: block;
}
